html {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
canvas {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 80%;
    z-index: 1;
}
video {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
#hud {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
#player1 {
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: 100%;
    order: 1;
}
#webcam {
    padding: 0%;
    margin: 0%;
    width: 40%;
    height: 100%;
    order: 2;
}
#player2 {
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: 100%;
    order: 3;
}
.vl {
    position: absolute;
    z-index: 2;
    border-left: 6px solid black;
    height: 80%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 20%;
}