html {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
#gameCanvas {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 80%;
    z-index: 1;
}
#stream {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    margin: 0px;
    z-index: -1;
}
video {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    height: 300px;
    width: 200px;
}
#game {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
#hud {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
#player1 {
    padding: 0%;
    margin: 0%;
    width: 40%;
    height: 100%;
    order: 1;
}
#webcam {
    padding: 0%;
    margin: 0%;
    width: 20%;
    height: 100%;
    order: 2;
    position: relative;
}
#player2 {
    padding: 0%;
    margin: 0%;
    width: 40%;
    height: 100%;
    order: 3;
}
.vl {
    position: absolute;
    z-index: 2;
    border-left: 6px solid black;
    height: 80%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 20%;
}